@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --background: #d9f0ff;
  --button: #907f9f;
  --second-color: #a4a5ae;
  --text: #8d5a97;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'sans-serif';
  background: var(--background);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
